* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: auto;
    width: fit-content;
    color: rgba(238, 238, 238, 1);
    margin: 10px;
    margin-left: 120px;
    padding: 10px;
    font-size: xx-large;
    text-align: center;
}

nav {
    height: auto;
    width: auto;
    display: flex;
    margin-right: 120px;
    align-items: center;
    font-size:xx-large;
    color: rgba(238, 238, 238, 1);
    justify-content: space-between;
}

li {
    list-style: none;
    padding-left: 15px;
    
}

.main {
    display: flex;
    height: 50vh;
    width: 80vw;
    margin: 10%;
    border-radius: 1rem;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 1);
}

.main .title {
    width: fit-content;
    height: auto;
    position: relative;
    top: 50px;
    left: 50px;
}

.main .para {
    background-color:rgba(238, 238, 238, 1);
    width: 80%;
    margin: auto;
}

body {
    background-color: rgba(34, 40, 49, 1);
}