* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eeeeee;
}

body {
  background-color: #222831;
  color: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.logo-container {
  min-height: 100%;
  min-width: 700px;
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
}

.nav-container {
  min-width: 700px;
  max-width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.nav-container button {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  list-style: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #222831;
}

.nav-container a {
  color: #eeeeee;
}

.nav-container #contact-btn {
  background-color: #00adb5;
  color: #eeeeee;
}

.cards {
  width: 100vw;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding-bottom: 40px;
  margin-top: 80px;
}

.cards > * {
  padding: 20px;
}

.cards h1 {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 4px;
  background-color: #00adb5;
  position: relative;
  bottom: 36px;
  padding: 10px;
}

#about-card {
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f353f;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

#project-card {
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
  background-color: #2f353f;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

#projects {
  width: auto;
  background-color: #2f353f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects > div {
  padding: 10px;
  margin: 10px;
}

#contact-card {
  width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2f353f;
  margin: 50px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}
/*# sourceMappingURL=styles.css.map */