* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --nav-height: 5rem;
}

#nav-bar {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
}

#logo {
  width: 20%;
  position: relative;
  left: 2rem;
  text-align: center;
}

#nav-buttons {
  width: 20%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#nav-bar a {
  text-decoration: none;
  padding: .5rem;
  color: black;
}

a:hover {
  opacity: 10%;
  color: black;
}

body {
  max-width: 100%;
  height: calc(100vh - (var(--nav-height)));
}

#bio {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lightcyan;
  padding: 1em 3em;
}

#bio-text {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bio #bio-photo {
  max-width: 10rem;
  height: auto;
  border-radius: 4rem;
  border-style: solid;
  border-color: #000000;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#bio h1 {
  margin-bottom: 2rem;
}

#bio p {
  width: 50%;
}

#icons {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-filter: drop-shadow(3px 5px 2px #464646);
          filter: drop-shadow(3px 5px 2px #464646);
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin a {
  font-size: 48px;
  background-color: #007bb5;
}

.fa-github a {
  font-size: 48px;
  color: black;
}

#project-display {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: lightcyan;
  padding: 1em 3em;
}

#project-display div {
  width: 30%;
  height: 25vh;
  text-align: center;
  background-color: #007bb5;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */