* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgba(238, 238, 238, 1);
}

body {
    background-color: rgba(34, 40, 49, 1);
    color: rgba(238, 238, 238, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

    .logo-container {
        min-height: 100%;
        min-width: 700px;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

    }

        .logo-container img {
            max-width: 100%;
            max-height: 100%;
        }

    .nav-container {
        min-width: 700px;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }

        .nav-container button {
            border-style: solid;
            border-width: 1px;
            border-color: rgba(238, 238, 238, 1);
            list-style: none;
            padding: 10px;
            border-radius: 4px;
            background-color: rgba(34, 40, 49, 1)
        }

        .nav-container a {
            color: rgba(238, 238, 238, 1);
        }

        .nav-container #contact-btn {
            background-color: rgba(0, 173, 181, 1);
            color: rgba(238, 238, 238, 1);;
        }

.cards {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding-bottom: 40px;
    margin-top: 80px;
}
    .cards > * {
        padding: 20px;
    }

    .cards h1 {
        border-style: solid;
        border-width: 1px;
        border-color: rgba(238, 238, 238, 1);
        border-radius: 4px;
        background-color: rgba(0, 173, 181, 1);
        position: relative;
        bottom: 36px;
        padding: 10px;
    }

    #about-card {
        width: 900px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(47, 53, 63, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
    }

    #project-card {
        width: 900px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        background-color: rgba(47, 53, 63, 1);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        
    }

        #projects {
            width: auto;
            background-color: rgba(47, 53, 63, 1);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
         #projects > div {
            padding: 10px; 
            margin: 10px;
         }


    #contact-card {
        width: 900px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(47, 53, 63, 1);
        margin: 50px;
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
    }

